<!DOCTYPE html>
<html>
  <head>
    <title>Madlibs</title>
    <link rel="stylesheet" href="/static/app.css" />
    <link rel="stylesheet" href="/static/mdb.min.css" />
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <div class="container-fluid justify-content-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/">Home</a>
          </li>

          <li class="breadcrumb-item">
            <a href="#">Page 2</a>
          </li>
        </ol>
      </nav>
    </div>
  </nav>

  <body id="body-content">
    <div class="container mt-5 text-center text-white">
      <div class="story-body">
        <h1 class="mb-4">Your Story</h1>
        <p class="h5">{{ text }}</p>
      </div>
    </div>
    <footer class="bg-light text-center text-lg-start fixed-bottom">
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        2023 USF Bootcamp:
        <a class="text-dark" href="#">Onelio Viera</a>
      </div>
      <!-- Copyright -->
    </footer>

    <script src="/static/mdb.min.js"></script>
  </body>
</html>
